body {
    background-color: lightblue;
        
}
#page {
    position: relative;
}
    
    h1 {
    color: navy;
    margin-left: 20px;
    text-align: center;
    }
    p{
        color: blue;
        text-align: center;
    
    }
    .img {
        position: absolute;
        display: flex;
        float: left;
        left: 50px;
   }